body {
    width: 100%;
    height: 100%;
    background-image: url("images/argyle/argyle.png");
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    overflow: hidden;
}
.calendar {
  width: 100%;
  height: 100%;
}
h1 {
    font-weight: 100;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    float: left;
    display: inline-block;
    margin-top: 2px;
    color: black;
}

.button {
  display: block;
  border-radius: 4px;
  background-color: black;
  border: 2px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  width: 200px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 5px;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: white;
}

.button:hover {
    color: white;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.butttwo {
  display: inline-block;
  border-radius: 4px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  width: 100px;
  padding: 0px 20px;
  cursor: pointer;
  margin: 0px 5px;
  float: right;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.butttwo span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.butttwo span:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.butttwo:hover {
    color: white;
}

.butttwo:hover span {
  padding-right: 10px;
}

.butttwo:hover span:after {
  opacity: 1;
  right: 0;
}
#bookroom{
    width: 255px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#container {
  height: 100%;
  width: 100%;
  background-image: url("images/argyle/argyle.png");
}
#content {
  clear: both;
  margin-top: 70px;
}
#header {
  width: 99vw;
  line-height: 36px;
  height: 36px;
  padding: 10px;
  position: absolute;
  left: 0px;
  top: 0px;
  background: lightgray;; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white,silver); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, silver); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, silver); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, silver); /* Standard syntax */
  box-shadow: 0px 20px 5px #0d0d0d;
  border-bottom: 2px solid black;
}
span {
  color: white;
  text-shadow: none;
}
select {
  color: black;
}
option {
  color: black;
}
p {
  color: white;
  font-size: 24px;
}
li {
  margin-top: 40px;
}
.buttthree {
  display: inline-block;
  border-radius: 4px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  width: 100px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0px 5px;
  float: right;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.buttthree span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttthree span:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttthree:hover {
    color: white;
}

.buttthree:hover span {
  padding-right: 10px;
}

.buttthree:hover span:after {
  opacity: 1;
  right: 0;
}
