<!DOCTYPE html>
<head>
  <title> Authenticate </title>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <link rel="stylesheet" type="text/css" href="../static/forms.css">
</head>
<body>
<div id="container">
<div id="header">
    <h1 align="center">Authentication</h1>
    <br>
</div>
    <div id="content">
      <form action="/authenticate/{{username}}" method="POST">
        <p>An authentication email was sent to you with a confirmation code. Please input the code below.</p>
        <p>
        <input type="text" name="authenValue"></input>
        <button type="submit" class="buttthree" value="Authenticate">Authenticate</button>
        </p>
        {% if Err %}
        <p style="color: red;">Invalid Authentication Code</p>
        {% endif %}
      </form>
    </div>
</body>
</html>
