<!DOCTYPE html>
<html>

<head>
    <title> Club Management Calendar</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/calendar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
    <script src="../static/form.js"></script>
    <div id="container">
        <div id="header">
            <h1>Club Management Calendar</h1> {% if Username %}
            <a href="/logout" data-ajax="false" data-role="none" class="butttwo"><span>Log out</span></a>
            <a href="/reservations" data-ajax="false" data-role="none" class="butttwo"><span>Reservations</span></a> {% else %}
            <a href="/register" data-ajax="false" data-role="none" class="butttwo"><span>Sign Up</span></a>
            <a href="/login" data-ajax="false" data-role="none" class="butttwo"><span>Log In</span></a> {% endif %}
        </div>
        <div id="content">
	  <div id="buttonTable">
	    <div id="left">
	      <button align="center" id="leftbutt">&#60;</button>
	    </div>
	    <div id="calendar">
	      <table align="center" id="mesa">
                  <caption id="month">MONTH</caption>
                  <col class="weekend">
                  <col class="weekday" span="5">
                  <col class="weekend">
                  <thead>
                    <tr>
                          <th>Sun</th>
                          <th>Mon</th>
                          <th>Tue</th>
                          <th>Wed</th>
                          <th>Thu</th>
                          <th>Fri</th>
                          <th>Sat</th>
                        </tr>
                      </thead>
                      <tbody>
			<tr>
			  {% set key = 0 %}
                          {% for key in range(0,35)%}
			  {% if key == 0 %}
			  {% else %}
			  {% if key % 7 == 0 %}
			</tr>
			<tr>
			  {% endif %}
			  {% endif %}
			  <td>
			    {% if cal1[key][0][0] == 0 %}
			    {% else %}
			    {{cal1[key][0][0]}} <br><br>
			    {% if cal1[key][1]|length < 2 %}
							{% else %}
							{% set count2 = 1 %}
							{% for count2 in range(1,cal1[key]|length) %}
							{{cal1[key][count2][1]}} - room {{cal1[key][count2][0]}}<br>
							{% endfor %}
							{% endif %}
							{% endif %}
							</td>
			  {% set key = key + 1 %}
			  {% endfor %}
			</tr>
                      </tbody>
              </table>
	    </div>
            <div id="right">
	      
              <button align="center" id="rightbutt">&#62;</button>
            </div>
	    <div id="bookroom">
		{% if Username %}
		<a href="#myPopup" data-rel="popup" class="button"><span>Book Date</span></a> {% endif %}
              </div>
              <div data-role="popup" data-position-to="window" id="myPopup" class="ui-content" style="min-width:250px;">
		<form method="POST" action="/set_functions">
                  <div>
                    <h3>Make a Room Reservation</h3>
                    <label for="clubName" class="ui-hidden-accessible">Club Name:</label>
                    <input type="text" name="clubName" id="clubName" placeholder="Club Name">
                    <label for="email" class="ui-hidden-accessible">Email:</label>
                    <input type="email" name="email" id="email" placeholder="Stuy.Edu Email">
                    <label for="name" class="ui-hidden-accessible">Name:</label>
                    <input type="text" name="name" id="name" placeholder="Your Name">
                    <label for="room" class="ui-hidden-accessible">Room:</label>
                    <select name="room" id="room" placeholder="Your Room">
		      <option value="notSelected" selected="selected">Room Number</option>
		      <option value="229"><p>229</p></option>
		      <option value="231">231</option> 
		      <option value="303">303</option>
		      <option value="313">313</option>
		      <option value="315">315</option>
		      <option value="327">327</option>
		      <option value="329">329</option>
		      <option value="333">333</option>
		      <option value="335">335</option>
		      <option value="337">339</option>
		      <option value="339">339</option>
		      <option value="403">403</option>
		      <option value="405">405</option> 
		      <option value="407">407</option>
		      <option value="427">427</option>
		      <option value="431">431</option>
		      <option value="437">437</option>	  
		    </select>
                    <label for="date" class="ui-hidden-accessible">Reservation Date</label>
                    <input type="text" name="date" id="date" placeholder="YYYY/MM/DD (Reservation date)">
                    <div id="Error"></div>
                    <button type="button" rel="external" data-disabled="true" data-inline="true" id="theButton" value="submit">Submit your Room Reservation</button>
                </div>
              </form>
            </div>
          </div>
	</div>
	<script src="../static/calendar.js"></script>
</body>

</html>
