<!DOCTYPE html>
<head>
<title> Club Management Calendar</title>
<link rel="stylesheet" type="text/css" href="static/home.css">
</head>
<body>
<div>
<h1>Club Management Calendar</h1>
<button>Book Date</button>
</div>
<div class="calendar">
  <table>
    <caption>MONTH</caption>
    <col class="weekend">
    <col class="weekday" span="5">
    <col class="weekend">
    <thead>
      <tr>
	<th>Sun</th>
	<th>Mon</th>
	<th>Tue</th>
	<th>Wed</th>
	<th>Thu</th>
	<th>Fri</th>
	<th>Sat</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
      </tr>
      <tr>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
      </tr>
      <tr>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
      </tr>
      <tr>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
      </tr>
      <tr>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
	<td><div class="day"></div></td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>
