<!DOCTYPE html>
<head>
  <title> Login </title>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <link rel="stylesheet" type="text/css" href="../static/forms.css">
</head>
<body>
<div id="container">
<div id="header">
    <h1 align="center">Login</h1>
    <br>
</div>
    <div id="content">
      <form action="/login" method="POST">
	<input type="email" name="umail" placeholder="Email" value=""required><br>
	<input type="password" name="password" placeholder="Password" value=""required><br><br>
	<input type="submit" name="button" value="Login">
	<input type="submit" name="button" value="Cancel">
      </form>
    </div>
</body>
</html>
								      
