<!DOCTYPE html>
<head>
  <title> Login </title>
</head>
<body>
  <center>
    <h1>Login</h1>
    <br>
    <div>
      {{text}}
    </div>
    <div>
      <form action="/login" method="POST">
	<input type="email" name="umail" placeholder="Email" value=""required><br>
	<input type="password" name="password" placeholder="Password" value=""required><br><br>
	<input type="submit" name="button" value="Login">
	<input type="submit" name="button" value="Cancel">
      </form>
    </div>
  </center>
</body>
</html>
								      
