<!DOCTYPE html>
<head>
  <title> Register </title>
<link rel="stylesheet" type="text/css" href="../static/style.css">
<link rel="stylesheet" type="text/css" href="../static/forms.css">
</head>
<body>
  <div id="container">
    <div id="header">
  <h1>Register</h1>
  <br>
</div>
    
    <div id="content">
      <form action="/register" method="POST">
	<input type="email" name="uemail" placeholder="Email" required><br>
	<input type="name" name="uname" placeholder="Name" required><br>
	<input type="cname" name="clubname" placeholder="Club Name" required><br>
	<input type="password" name="password1" placeholder="Password" required><br>
	<input type="password" name="passwordcheck" placeholder="Type Password Again" required>
	<br>
	<br>
	<input type="submit" name="button" value="Register">
	<input type="submit" name="button" value="Cancel">
	{% if Err %}
        <p style="color: red;">Invalid Authentication Code</p>
        {% endif %}
      </form>
    </div>
  </center>
</body>
</html>
